netests.yml
truth_vars/*
reports/*
netbox/*
inventory/*
images/*
nornir/nornir.log
.DS_Store
bin/*
lib/*
include/*
data/*
pyvenv.cfg
pip-selfcheck.json
.idea
__pycache__/
*.pyc
**/bck.*
req.txt
**log.*
netests.egg-info
netests.log
dist/
backup/
**.graffle