{% for ip_to_ping in host["ping_data"].ping_lst %}
{% if  ip_to_ping['ip_address'] is defined %}
{% if ip_to_ping['vrf'] is defined and ip_to_ping['vrf'] != "default" %}
{% if ip_to_ping['works'] == false %}
ping {{ ip_to_ping['ip_address'] }} count 1 -t 1 vrf {% if ip_to_ping['vrf'] == "mgmt" %}MgmtRouter{% else %}{{ ip_to_ping['vrf'] }}{% endif %} ! 
{% else %}
ping {{ ip_to_ping['ip_address'] }} count 1 -t 1 vrf {% if ip_to_ping['vrf'] == "mgmt" %}MgmtRouter{% else %}{{ ip_to_ping['vrf'] }}{% endif %} 
{% endif %}
{% else %}
{% if ip_to_ping['works'] == false %}
ping {{ ip_to_ping['ip_address'] }} count 1 -t 1 !
{% else %}
ping {{ ip_to_ping['ip_address'] }} count 1 -t 1
{%  endif %}
{% endif %}
{% endif %}
{% endfor %}
